<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>798987815333-p27s3mbrgt8ohvpfb5itgg3ps7j8va7h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.798987815333-p27s3mbrgt8ohvpfb5itgg3ps7j8va7h</string>
	<key>API_KEY</key>
	<string>AIzaSyCmDx8rj7aZtpr39JC3T8FusKm4jkMIO2k</string>
	<key>GCM_SENDER_ID</key>
	<string>798987815333</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cartersteffen.genius-gamblers</string>
	<key>PROJECT_ID</key>
	<string>genius-gamblers</string>
	<key>STORAGE_BUCKET</key>
	<string>genius-gamblers.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:798987815333:ios:6e1b28fe6ec7cfa91e804c</string>
</dict>
</plist>